<div class="left-sidebar">
    <ul>
        <li><a href="/dashboard">Quản lý bài viết</a></li>
        <li><a href="/create-post">Tạo bài viết mới</a></li>
        <li><a href="/settings">Cài đặt</a></li>
        <li><a href="/logout">Đăng xuất</a></li>
    </ul>
</div>